<container>
  <!-- View Online Button -->
  <row class="collapse">
    <columns class="view-online">
      <a href="#">View Online</a>
    </columns>
  </row>

  <!-- Logo & Free Shipping Tagline -->
  <row class="collapse">
    <columns large="3" class="logo">
      <img src="http://hosting-source.bm23.com/26019/public/template_images/softmoc_e-logo-300x59.png" width="150" alt="SoftMoc Logo">
    </columns>
    <columns large="9" class="free-shipping">
      <img src="http://hosting-source.bm23.com/26019/public/template_images/shipping-exchanges-returns.png" width="430" alt="Free Shipping, Returns and Exchanges">
    </columns>
  </row>

  <!-- Top Menu -->
  <spacer size="10"></spacer>
  <row class="top-menu">

    <!-- Women's Button -->
    <columns large="2" class="menu-link">
      <spacer size="15"></spacer>
      <center>
        <a href="#">WOMEN</a>
      </center>
      <spacer size="15"></spacer>
    </columns>

    <!-- Men's Button -->
    <columns large="2" class="menu-link">
      <spacer size="15"></spacer>
      <center>
        <a href="#" class="expanded">MEN</a>
      </center>
      <spacer size="15"></spacer>
    </columns>

    <!-- Girls' Button -->
    <columns large="2" class="menu-link">
      <spacer size="15"></spacer>
      <center>
        <a href="#">GIRLS</a>
      </center>
      <spacer size="15"></spacer>
    </columns>

    <!-- Boys' Button -->
    <columns large="2" class="menu-link">
      <spacer size="15"></spacer>
      <center>
        <a href="#">BOYS</a>
      </center>
      <spacer size="15"></spacer>
    </columns>

    <!-- Brands Button -->
    <columns large="2" class="menu-link">
      <spacer size="15"></spacer>
      <center>
        <a href="#">BRANDS</a>
      </center>
      <spacer size="15"></spacer>
    </columns>

    <!-- Handbags Button -->
    <columns large="2" class="menu-link">
      <spacer size="15"></spacer>
      <center>
        <a href="#">HANDBAGS</a>
      </center>
      <spacer size="15"></spacer>
    </columns>

  </row><!-- End Top Menu -->

</container>