<container>
  <spacer size="10"></spacer>
  <!-- View Online Button -->
  <row class="collapse">
    <columns class="view-online">
      <a href="#">View Online</a>
    </columns>
  </row>
  <spacer size="10"></spacer>
  <!-- Logo & Free Shipping Tagline -->
  <row class="collapse">
    <columns large="3" class="logo">
      <img src="http://hosting-source.bm23.com/26019/public/template_images/softmoc_e-logo-300x59.png" width="150" alt="SoftMoc Logo">
    </columns>
    <columns large="9" class="free-shipping">
      <img src="http://hosting-source.bm23.com/26019/public/template_images/shipping-exchanges-returns.png" width="430" alt="Free Shipping, Returns and Exchanges">
    </columns>
  </row>

  <!-- Top Menu -->
  <spacer size="10"></spacer>
    <menu class="top-menu show-for-large">
      <item href="http://zurb.com">Women</item>
      <item href="http://zurb.com">Men</item>
      <item href="http://zurb.com">Girls</item>
      <item href="http://zurb.com">Boys</item>
      <item href="http://zurb.com">Brands</item>
      <item href="http://zurb.com">Handbags</item>
    </menu>

</container>